@font-face {
    font-family: 'Archivo Black';
    src: url('/fonts/archivo_black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

.website-grid {
    max-width: 1200px;
    margin: auto;
}

footer, header{
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
}

.heading {
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
}

.header {
    color: white;
    font-size: 48px;
    margin-bottom: 12px;
}



@media (max-width: 349px) {
    .hide-below-350 {
      display: none !important;
    }
  }

