---
import Link from "@components/Links.astro";
import { Icon } from "astro-icon/components";
import { SITE_TITLE, HeaderLinks } from "@consts";
---

<header class="flex flex-wrap md:justify-start md:flex-nowrap z-50  py-7">
  <nav class="relative flex flex-wrap md:grid md:grid-cols-12 basis-full items-center mx-auto" aria-label="Global">
    <div class="md:col-span-6">
      <a class="flex items-center text-lg sm:text-xl font-semibold text-neutral-900 hover:text-neutral-600 dark:text-white dark:hover:text-neutral-200" href="/" aria-label="Realty Reach">
        <img src="https://web.readrealtyreach.com/realtyreachsquare.png" alt="" class="w-4 sm:w-6 mr-1 lg:w-8 logo dark:invert">
        <span class="logo text-2xl sm:text-4xl lg:text-5xl">{SITE_TITLE}</span>
      </a>
    </div>

    <div class="flex items-center gap-x-2 ms-auto py-1 md:ps-6 md:order-3 md:col-span-1">
      

      <button type="button" class="hs-dark-mode hs-dark-mode-active:hidden inline-flex items-center gap-x-2 py-2 px-3 rounded-full text-sm text-black hover:bg-white/20 hide-below-350" data-hs-theme-click-value="dark">
        <Icon name="tabler:sun-filled" class="icon-base" />
      </button>
      <button type="button" class="hs-dark-mode hs-dark-mode-active:inline-flex hidden items-center gap-x-2 py-2 px-3 rounded-full text-sm text-white hover:bg-white/20 hide-below-350" data-hs-theme-click-value="light">
        <Icon name="tabler:moon-filled" class="icon-base" />
      </button>

      <div class="md:hidden">
        <button type="button" class="hs-collapse-toggle size-[38px] flex justify-center items-center text-sm font-semibold rounded-xl text-black hover:bg-neutral-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-neutral-700" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
          <Icon name="tabler:menu-2" class="hs-collapse-open:hidden flex-shrink-0 size-4"></Icon>
          <Icon name="tabler:menu-order" class="hs-collapse-open:block hidden flex-shrink-0 size-4"></Icon>
        </button>
      </div>
      
    </div>

    <div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block md:w-auto md:basis-auto md:order-2 md:col-span-5">
      <div class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:justify-end md:items-center md:gap-y-0 md:gap-x-7 md:mt-0">
        {
          HeaderLinks.map((link) => (
            <Link
              href={link.href}
              class="px-4 py-3 font-medium text-neutral-900 hover:text-neutral-600 dark:text-white dark:hover:text-neutral-200"
            >
              {link.title}
            </Link>
          ))
        }
      </div>
    </div>
  </nav>
</header>
